body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
ul {
    list-style: none;
    padding-inline-start: unset;
}
#nav_bar {
    float: right;
}
#nav_bar li {
    display: inline;
    padding: 9px 11px 9px 11px;
    text-align: center;
}
#nav_bar a {
    text-align: center;
}
#sign_in { 
    background-color: hsl(217, 95%, 48%);
    margin-right: 10px;
    border-radius: 3px;
    font-weight: bolder;
    color: white;
}
#nav-links {
    color: #404040;
}
li.nav-links a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: inherit;
}

.google-image #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 10%;
}
#form {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 25px;
}
#form-search {
    width: 500px;
    height: 30px;
    border-radius: 22px;
    margin: auto;
    padding-left: 10px;
    font-size: 14px;
}
.buttons {
    text-align: center;
}

footer {
    background: rgb(239, 239, 239);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    outline: solid 1px gray;
    height: 50px;    
}
footer ul li {
    display: inline;
    color: #70757a;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 15px;
}
.footer-left {
    float: left;
    padding-right: 8px;
}
.footer-right {
    float: right;
}